<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<link rel="stylesheet"  href="/css/bootstrap.min.css">
<script src ="/js/bootstrap.min.js"></script>
<script src="/js/jquery-2.2.4.js"></script>
</head>
<body>
<%include header%>
<div class="container">
<div class="modal fade" id="myModal" role="dialog" style="margin-top: 60px;">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="background-color: #000000; color:#ffffff;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Product</h4>
          </div>
          <div class="modal-body">
           <form action="/api/loadedit" method="post" enctype="multipart/form-data">
            <div class="form-group">
            <label>Title</label>
            <input type="hidden" name="pro_id" id ="chan0">
            <input type="text" class="form-control" name="title" id="chan1">
        </div>
        <div class="form-group">
            <label>Image</label>   
            <input type="file"  name="file" class="form-control" id="chan2">       
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description"  style="width: 100%; min-height: 80px; resize: none; padding: 8px;" class="form-control" id="chan3"></textarea>
        </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" class="form-control" id="chan4">
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Edit</button>

          </div>
        </form>
        </div>
      </div>
    </div>
</div>
<% var stt=1; %>
<div class="row">
     <%for(i in products){%>
      <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <input type="hidden" value="<%= products[i]._id %>" id="<%=stt%>">
                  <%if(session.chklog == 0){%>
                <div class="dropdown" style="margin: 15px; float: right">
                  <a href=""  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </a> 

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 0">
                 <li><a href=""   data-toggle="modal" data-target="#myModal" onclick="calledit(<%=stt%>)"><span class="fa fa-edit"></span>Edit</a></li>
                  <li><a onclick="calldelete(<%=stt++%>)" style="cursor: pointer;"><span class="fa fa-bin" ></span>Delete</a></li>
                  </ul>
                </div>
                <%}%>
              
             <br>
                <br>
                <img src="<%= products[i].image %>" alt="" class="img-responsive" >
                <div class="caption">
                  <h3><%= products[i].title %></h3>
                  <p class="description"><%= products[i].description %></p>
                  <div class="clearfix">
                      <div class="price pull-left">$ <%= products[i].price %></div>
                      <%if(session.chklog != 0){%>
                      <a href="/add-to-cart/<%= products[i]._id %>" class="btn btn-success pull-right" role="button">Add</a>
                      <%}%>
                  </div>
                </div>
              </div>
      </div>
      <% } %>
  </div>
</div>

<script type="text/javascript">
  function calledit(stt){
    var id = document.getElementById(stt).value;
    $.ajax({
      url:'http://localhost:3000/api/edit',
      type:'POST',
      data:{pro_id:id},
      success:function(data){
        hu = JSON.parse(data);
        document.getElementById('chan0').value =hu._id;
        document.getElementById('chan1').value = hu.title;
        document.getElementById('chan2').value = hu.image;
        document.getElementById('chan3').value = hu.description;
        document.getElementById('chan4').value = hu.price;
      }
    })
  }
  function call(){
    $.ajax({
      url:'http://localhost:3000/api/loadedit',
      type:'POST',
       async: false,
            cache: false,
            contentType: false,
            processData: false,
      data:{
        pro_id : $('#chan0').val(),
        title: $('#chan1').val(),
        imagePath: $('#chan2').val(),
        description: $('#chan3').val(),
        price: $('#chan4').val()
      },
      success:function(data){
        location.reload();
      }
    })
  }
  function calldelete(stt){
    var retVal = confirm("Do you want to delete ?");
    if( retVal == true ){
    var id = document.getElementById(stt).value;
    $.ajax({
      url:'http://localhost:3000/api/delete',
      type:'POST',
      data:{pro_id:id},
      success:function(data){
        location.reload();
      }
    })
  }else{
    location.reload();
  }
  }
</script>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>